{% comment %} 
  TODO:
  - image slider
  - monogram LIP (WIP)
  - monogram font (change based on variant selection)
  - monogram color
  - monogram overlaid on images
  - monogram variant image on radio button
  - grouping the products in the cart (visuals and functionality (based on LIPs))
{% endcomment %}

{% assign monogram_product = all_products.monogram %}
{% assign current_variant = monogram_product.selected_or_first_available_variant %}
{% assign parent_type_handle = parent_product.type | handleize %}

<script src="{{ 'monogram.js' | asset_url }}" defer></script>

<monogram-toggle>
  <input id="add-monogram" type="checkbox">
  <label for="add-monogram">Add a custom embroidery +$15</label>

  <div class="monogram-button-wrapper hide">
    <button
      class="js-modal-open-monogram-modal btn btn--secondary btn--full"
    >
      Personalize it
    </button>
    <small class="text-center"> ⓘ You must personalize it before adding to the cart. </small>
  </div>
</monogram-toggle>

<div id="MonogramModal" class="modal modal--square">
  <div class="modal__inner">
    <div class="modal__centered">
      <div class="modal__centered-content">
        <monogram-customizer class="grid">
          <div class="grid__item one-half">images</div>
          <div class="grid__item one-half">
            <h2>Personalize it</h2>

            <script type="application/json" id="monogram-product-data">
              {{ monogram_product | json }}
            </script>
            <script type="application/json" id="monogram-product-initial-variant-data">
              {{ monogram_product.selected_or_first_available_variant | json }}
            </script>
            <script type="application/json" id="parent-product-data">
              {{ parent_product | json }}
            </script>
            <script type="application/json" id="parent-product-initial-variant-data">
              {{ parent_product.selected_or_first_available_variant | json }}
            </script>
            <div id="monogram-form"></div>

            {% comment %} <form action="/cart/add" method="POST">
              {%- unless monogram_product.has_only_default_variant -%}
                {%- for variant in monogram_product.variants -%}
                  <label for="{{ variant.id }}">{{ variant.title }}</label>
                  <input
                    type="radio"
                    name="items[0][id]"
                    id="{{ variant.id }}"
                    value="{{ variant.id }}"
                    data-title="{{ variant.title }}"
                    {% if forloop.first %}checked{% endif %}
                  >
                {%- endfor -%}
              {%- endunless -%}

              <input type="text" name="monogram" id="monogram" value="Dudley">
              <input type="text" name="first" id="first" value="A">
              <input type="text" name="middle" id="middle" value="B">
              <input type="text" name="last" id="last" value="C">

              {% comment %} items[0] === monogram product {% endcomment %}
              <input type="hidden" name="items[0][quantity]" value="1">
              <input type="hidden" name="items[0][properties][_Monogram ID]" class="js-monogram-id" value="">
              <input
                type="hidden"
                name="items[0][properties][Monogram for]"
                class="js-parent-title" 
                value="{{ parent_product.title }} - {{ parent_product.selected_or_first_available_variant.title }}"
              >
              <input 
                type="hidden" 
                name="items[0][properties][Style]" 
                class="js-monogram-style"
                value="{{ monogram_product.selected_or_first_available_variant.title }}"
              >
              <input 
                type="hidden" 
                name="items[0][properties][_Location]" 
                value="
                  {%- if parent_type_handle == 'kids' -%}
                    Left Chest
                  {%- elsif parent_type_handle == 'accessories' or parent_type_handle == 'kids-accessories' -%}
                    Opposite pineapple (left side)
                  {%- else -%}
                    Left Sleeve
                  {%- endif -%}
                "
              >
              <input type="hidden" name="items[0][properties][_Gift wrap]" value="No">
              <input 
                type="hidden"
                name="items[0][properties][Monogram]"
                class="js-monogram"
                value=""
              >
              
              {% comment %} items[1] === parent product {% endcomment %}
              <input 
                type="hidden" 
                name="items[1][id]" 
                class="js-parent-variant-id" 
                value="{{ parent_product.selected_or_first_available_variant.id }}"
              >
              <input type="hidden" name="items[1][quantity]" value="1">
              <input type="hidden" name="items[1][properties][_Monogram ID]" class="js-monogram-id" value="">
              <input 
                type="hidden" 
                name="items[1][properties][Style]" 
                class="js-monogram-style"
                value="{{ monogram_product.selected_or_first_available_variant.title }}"
              >
              <input 
                type="hidden" 
                name="items[1][properties][_Location]" 
                value="
                  {%- if parent_type_handle == 'kids' -%}
                    Left Chest
                  {%- elsif parent_type_handle == 'accessories' or parent_type_handle == 'kids-accessories' -%}
                    Opposite pineapple (left side)
                  {%- else -%}
                    Left Sleeve
                  {%- endif -%}
                "
              >
              <input 
                type="hidden"
                name="items[1][properties][Monogram]"
                class="js-monogram"
                value=""
              >
 
              <button class="btn monogram__add-to-cart">Submit</button>
            </form> {% endcomment %}
          </div>
        </div>
      </monogram-customizer>

      <button type="button" class="modal__close js-modal-close text-link">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64">
          <path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/>
        </svg>
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
    </div>
  </div>
</div>
