{% comment %}
  Parameters
  context - used to determine whether on the featured product or main product template
  mobile_layout
{% endcomment %}

{%- liquid
  assign current_variant = product.selected_or_first_available_variant

  unless thumbnail_position
    assign thumbnail_position = 'beside'
  endunless

  assign product_zoom_size = '1800x1800'
  assign product_image_size = '620x'

  case image_container_width
    when 'small'
      assign product_image_width = 'medium-up--two-fifths'
      assign product_description_width = 'medium-up--three-fifths'
      assign product_image_size = '480x'
    when 'medium'
      assign product_image_width = 'medium-up--one-half'
      assign product_description_width = 'medium-up--one-half'
      assign product_image_size = '620x'
    when 'large'
      assign product_image_width = 'medium-up--three-fifths'
      assign product_description_width = 'medium-up--two-fifths'
      assign product_image_size = '740x'
  endcase

  assign product_img_structure = product.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.'

  # === START Custom feature ===
  # Display "Final Sale" in red below each item
  assign final_sale_tag = false

  # Display a message based on a tag, defined in the theme settings
  assign tag_sale = false

  # Some products are not discountable unless tagged with "_discountable"
  assign discountable = false

  # Some products are not monogrammable
  assign enable_monogram = false

  for tag in product.tags
    if tag contains settings.tag_sale_tag
      assign tag_sale = true
    endif
    if tag contains 'final-sale'
      assign final_sale_tag = true
    endif
    if tag contains 'monogram'
      assign enable_monogram = true
    endif
  endfor 

  if product.title contains '('
    assign product_title_split = product.title | split: ' ('
    assign product_title = product_title_split.first
    assign product_color = product_title_split.last | remove: ')'
  else
    assign product_title = product.title
    assign product_color = ''
  endif
  # === END Custom feature ===
-%}

{%- liquid
  assign connect_to_sizechart = false

  for block in section.blocks
    if block.type == 'size_chart'
      assign sizechart_index = forloop.index0
      assign next_block_index = sizechart_index | plus: 1
      assign variant_block = section.blocks[next_block_index]

      if variant_block.type == 'variant_picker' and variant_block.settings.picker_type == 'button' and product.has_only_default_variant == false
        for option in product.options_with_values
          assign size_trigger = 'products.general.size_trigger' | t | downcase
          assign downcased_option = option.name | downcase

          if downcased_option contains size_trigger
            assign connect_to_sizechart = true
          endif
        endfor
      endif

    endif
  endfor
-%}

<div id="ProductSection-{{ section_id }}-{{ product.id }}"
  class="product-section"
  data-section-id="{{ section_id }}"
  data-product-id="{{ product.id }}"
  data-section-type="product"
  data-product-handle="{{ product.handle }}"
  data-product-title="{{ product.title | escape }}"
  data-product-url="{{ product.url | within: collection }}"
  data-aspect-ratio="{{ 100 | divided_by: product.featured_media.aspect_ratio }}"
  data-img-url="{{ product_img_structure }}"
  {% unless isModal %}
    data-history="true"
  {% endunless %}
  data-modal="{{ isModal }}">

  {%- render 'product-template-variables', product: product, current_variant: current_variant -%}

  <div class="page-content page-content--product">
    <div class="page-width">

      <div class="grid{% unless image_position == 'left' %} grid--product-images-right{% endunless %}{% if mobile_layout == 'partial' %} grid--product-images--partial{% endif %}">
        {%- if image_position == 'left' -%}
          <div class="grid__item {{ product_image_width }} product-single__sticky">
            {%- render 'product-images',
              section_id: section_id,
              product: product,
              isModal: isModal,
              image_position: image_position,
              product_zoom_enable: product_zoom_enable,
              product_zoom_size: product_zoom_size,
              product_image_size: product_image_size,
              thumbnail_arrows: thumbnail_arrows,
              thumbnail_height: thumbnail_height,
              thumbnail_position: thumbnail_position,
              video_looping: video_looping,
              video_style: video_style,
              context: context,
              sizes: sizes,
              sizeVariable: product_image_width,
              fallback: fallback,
              mobile_layout: mobile_layout,
            -%}
          </div>
        {%- endif -%}

        <div class="grid__item {{ product_description_width }}">

          <div class="product-single__meta">
            <div class="product-block product-block--header">
              {%- if settings.show_breadcrumbs and isModal != true -%}
                {%- render 'breadcrumbs' -%}
              {%- endif -%}

              {%- if settings.vendor_enable -%}
                <div class="product-single__vendor">
                  {%- assign vendor_handle = product.vendor | handleize -%}
                  {%- if collections[vendor_handle] != empty -%}
                    <a href="{{ routes.collections_url }}/{{ collections[vendor_handle].handle }}">
                      {{ collections[vendor_handle].title }}
                    </a>
                  {%- else -%}
                    {{ product.vendor | link_to_vendor }}
                  {%- endif -%}
                </div>
              {%- endif -%}

              {%- if isModal -%}
                <p class="h2 product-single__title">
                  {{ product.title }}
                </p>
              {%- else -%}
                {% if product.metafields.custom.product_material != "N/A" %}
                  <div class="product-links">
                    <div class="rte">
                      <a href="/collections/{{ product.metafields.custom.product_material | handleize }}" 
                        title="Shop all {{ product.metafields.custom.product_material }}" 
                        class="product-link--color">
                        {{ product.metafields.custom.product_material }}
                      </a>
                    </div>
                </div>
                {% endif %}
                <h1 class="h2 product-single__title">
                  {%- unless product.empty? -%}
                    {% if product.metafields.custom.product_style != blank and product_color != blank%}
                      {{ product.metafields.custom.product_style }}
                    {% else %}
                      {{ product.title }}
                    {% endif %}
                  {%- else -%}
                    {{ 'home_page.onboarding.product_title' | t }}
                  {%- endunless -%}
                </h1>
              {%- endif -%}

              {%- if sku_enable -%}
                <p data-sku class="product-single__sku">
                  {%- if current_variant.sku -%}
                    {{ current_variant.sku }}
                  {%- endif -%}
                </p>
              {%- endif -%}
            </div>

            <div data-product-blocks>
              {%- capture form_id -%}AddToCartForm-{{ section_id }}-{{ product.id }}{%- endcapture -%}
              {%- for block in blocks -%}
                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                  {%- when 'separator' -%}
                    <div class="product-block" {{ block.shopify_attributes }}><hr></div>
                  {%- when 'text' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {{ block.settings.text }}
                    </div>
                  {%- when 'tab' -%}
                    {% assign tab_id = block.id | append: product.id %}
                    {% capture tab_content %}
                      {{ block.settings.content }}
                      {{ block.settings.page.content }}
                    {% endcapture %}
                    {% unless tab_content == blank and block.settings.title == blank %}
                      <div class="product-block product-block--tab" {{ block.shopify_attributes }}>
                        {%- render 'tab', id: tab_id, title: block.settings.title, content: tab_content -%}
                      </div>
                    {% endunless %}
                  {%- when 'contact' -%}
                    <div class="product-block product-block--tab" {{ block.shopify_attributes }}>
                      {% assign tab_id = block.id | append: product.id %}
                      {%- render 'tab-contact', id: tab_id, block: block -%}
                    </div>
                  {%- when 'description' -%}
                    <div class="product-block{% if block.settings.is_tab %} product-block--tab{% endif %}" {{ block.shopify_attributes }}>
                      {%- assign id = block.id | append: product.id -%}
                      {%- render 'product-description', id: id, product: product, is_tab: block.settings.is_tab -%}
                    </div>
                  {%- when 'price' -%}
                    <div class="product-block product-block--price" {{ block.shopify_attributes }}>
                      {%- assign hide_sale_price = true -%}
                      {%- if product.compare_at_price_max > product.price -%}
                        {%- if current_variant.compare_at_price > current_variant.price -%}
                          {%- assign hide_sale_price = false -%}
                        {%- endif -%}
                        <span
                          data-a11y-price
                          class="visually-hidden"
                          aria-hidden="{{ hide_sale_price }}">
                            {{ 'products.general.regular_price' | t }}
                        </span>
                        <span data-product-price-wrap class="{% if hide_sale_price %} hide{% endif %}">
                          <span data-compare-price class="product__price product__price--compare">
                            {%- if current_variant.compare_at_price > current_variant.price -%}
                              {{ current_variant.compare_at_price | money }}
                            {%- endif -%}
                          </span>
                        </span>
                        <span data-compare-price-a11y class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                      {%- else -%}
                        <span data-a11y-price class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                      {%- endif -%}

                      <span data-product-price
                        class="product__price{% if current_variant.compare_at_price > current_variant.price %} on-sale{% endif %}">
                        {%- unless product.empty? -%}
                          {{ current_variant.price | money }}
                        {%- else -%}
                          {{ 1999 | money }}
                        {%- endunless -%}
                      </span>

                      {% comment %} START custom feature {% endcomment %}
                      {% for tag in product.tags %}
                        {% if tag == "final-sale"%}
                          <span class="product__price--final-sale">{{ 'products.general.final_sale_badge' | t }}</span>
                        {%  endif %}
                      {% endfor %}
                      {% comment %} END custom feature {% endcomment %}

                      {%- if settings.product_save_amount -%}
                        {%- if settings.product_save_type == 'dollar' -%}
                          {%- capture saved_amount -%}{{ current_variant.compare_at_price | minus: current_variant.price | money }}{%- endcapture -%}
                        {%- else -%}
                          {%- capture saved_amount -%}{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | round }}%{%- endcapture -%}
                        {%- endif -%}
                        <span data-save-price class="product__price-savings{% if hide_sale_price %} hide{% endif %}">
                          {%- unless hide_sale_price -%}
                            {{ 'products.general.save_html' | t: saved_amount: saved_amount }}
                          {%- endunless -%}
                        </span>
                      {%- endif -%}

                      <div
                        data-unit-price-wrapper
                        class="product__unit-price product__unit-price--spacing {% unless current_variant.unit_price_measurement %} hide{% endunless %}">
                        {%- capture unit_price_base_unit -%}
                          <span data-unit-base>
                            {%- if current_variant.unit_price_measurement -%}
                              {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
                                {{ current_variant.unit_price_measurement.reference_value }}
                              {%- endif -%}
                              {{ current_variant.unit_price_measurement.reference_unit }}
                            {%- endif -%}
                          </span>
                        {%- endcapture -%}

                        <span data-unit-price>{{ current_variant.unit_price | money }}</span>/{{ unit_price_base_unit }}
                      </div>

                      {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                        <div class="product__policies rte small--text-center">
                          {%- if shop.taxes_included -%}
                            {{ 'products.product.include_taxes' | t }}
                          {%- endif -%}
                          {%- if shop.shipping_policy.body != blank -%}
                            {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </div>

                    {% comment %} START custom feature {% endcomment %}
                    {% if tag_sale and settings.show_tag_sale_message_pdp %}
                      <div class="product__price--tag-sale-message" style="color: {{ settings.tag_sale_text_color }};">{{ settings.tag_sale_message }}</div>
                    {% endif %}
                    {% comment %} END custom feature {% endcomment %}

                    
                  {%- when 'quantity_selector' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      <div class="product__quantity">
                        {% assign qty_id = section_id | append: product.id %}
                        <label for="Quantity-{{ qty_id }}">{{ 'products.product.quantity' | t }}</label>
                        {%- render 'quantity-input', form_id: form_id, id: qty_id, qty: 1, min: 1 -%}
                      </div>
                    </div>
                  {%- when 'size_chart' -%}
                    {% if connect_to_sizechart == false %}
                      {%- capture size_chart_title -%}
                        {{ 'products.general.size_chart' | t }}<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-size-chart" viewBox="0 0 64 64"><path d="M22.39 33.53c-7.46 0-13.5-3.9-13.5-8.72s6-8.72 13.5-8.72 13.5 3.9 13.5 8.72a12 12 0 0 1-.22 1.73"/><ellipse cx="22.39" cy="24.81" rx="3.28" ry="2.12"/><path d="M8.89 24.81V38.5c0 7.9 6.4 9.41 14.3 9.41h31.92V33.53H22.39m24.39 0v7.44m-8.13-7.44v7.44m-8.13-7.44v7.44m-8.13-7.44v7.44"/></svg>
                      {%- endcapture -%}

                      <div class="size-chart__standalone" {{ block.shopify_attributes }}>
                        {%- render
                          'tool-tip-trigger',
                          title: size_chart_title,
                          content: block.settings.size_chart.content,
                          context: 'size-chart'
                        -%}
                        {% style %}
                          tool-tip-trigger {
                            text-transform: uppercase;
                          }
                        {% endstyle %}
                      </div>
                    {% endif %}
                  {%- when 'variant_picker' -%}
                    <div class="product-block" {% if block.settings.product_dynamic_variants_enable %}data-dynamic-variants-enabled{% endif %} {{ block.shopify_attributes }}>
                      {%- unless product.has_only_default_variant -%}
                        {%- for option in product.options_with_values -%}
                          {%- liquid
                            if block.settings.color_swatches
                              assign is_color = false
                              assign color_option_index = 0
                              assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase
                              assign color_option_index = forloop.index0
                              assign downcased_option = option.name | downcase
                              if downcased_option contains swatch_trigger
                                assign is_color = true
                              elsif swatch_trigger == 'color' and downcased_option contains 'colour'
                                assign is_color = true
                              endif
                            endif
                          -%}

                          {%- if block.settings.picker_type == 'button' -%}
                            {%- render 'variant-button',
                              block: block,
                              product: product,
                              form_id: form_id,
                              section_id: section_id,
                              option: option,
                              forloop: forloop,
                              variant_labels: block.settings.variant_labels,
                              is_color: is_color,
                              color_option_index: color_option_index,
                              connect_to_sizechart: connect_to_sizechart,
                              sizechart_index: sizechart_index
                            -%}
                          {%- else -%}
                            {%- render 'variant-dropdown',
                              product: product,
                              form_id: form_id,
                              section_id: section_id,
                              option: option,
                              forloop: forloop,
                              variant_labels: block.settings.variant_labels
                            -%}
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endunless -%}
                    </div>
                  {%- when 'buy_buttons' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {%- unless product.empty? -%}
                        <div class="product-block">
                          {%- render 'product-form',
                            form_id: form_id,
                            product: product,
                            show_dynamic_checkout: block.settings.show_dynamic_checkout,
                            current_variant: current_variant,
                            enable_monogram: enable_monogram
                            block: block,
                          -%}
                        </div>
                      {%- endunless -%}

                      {%- if block.settings.surface_pickup_enable -%}
                        <div data-store-availability-holder
                          data-product-name="{{ product.title | escape }}"
                          data-base-url="{{ shop.url }}{{ routes.root_url }}"
                          ></div>
                      {%- endif -%}
                    </div>
                  {%- when 'sales_point' -%}
                    {%- unless block.settings.text == blank -%}
                      {% for tag in product.tags %}
                        {% if tag == "final-sale" %}
                          {% style %}
                            [data-content="Simple, no-hassle returns"] {
                              display: none;
                            }
                          {% endstyle %}
                          {% break %}
                        {% endif %}
                      {% endfor %}
                      <div class="product-block product-block--sales-point" data-content="{{ block.settings.text }}" {{ block.shopify_attributes }}>
                        <ul class="sales-points">
                          <li class="sales-point">
                            <span class="icon-and-text">
                              {% case block.settings.icon %}
                                {% when 'checkmark' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-circle-checkmark" viewBox="0 0 64 64"><path d="M52.68 24.48A22 22 0 1 1 47 15.93"/><path d="m21 32 8.5 8.5L57 13"/></svg>
                                {% when 'gift' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-gift" viewBox="0 0 64 64"><path d="M9 20.23h46v8.68H9zm4.34 8.68h36.89v24.3H13.34zm14.48-8.25v32.98m8.09-32.76v32.98M20.52 11.43a3.73 3.73 0 0 0-.74 2.87 4.57 4.57 0 0 0 .8 2.27C22 18.09 25.15 20 32 20.23a12 12 0 0 0-2.43-7 7.52 7.52 0 0 0-5.66-3.12 4 4 0 0 0-3.39 1.32Z"/><path d="M43.37 11.43a3.73 3.73 0 0 1 .74 2.87 4.48 4.48 0 0 1-.8 2.27c-1.42 1.52-4.57 3.41-11.42 3.66a12.08 12.08 0 0 1 2.43-7A7.56 7.56 0 0 1 40 10.14a4 4 0 0 1 3.37 1.29Z"/></svg>
                                {% when 'globe' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-globe" viewBox="0 0 64 64"><circle cx="32" cy="32" r="22"/><path d="M13 21h38M10 32h44M13 43h38M32 10c-12 8-12 37 0 44m0-44c12 8 12 37 0 44"/></svg>
                                {% when 'heart' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-heart" viewBox="0 0 64 64"><path d="M51.27 15.05a13 13 0 0 0-18.44 0l-.83.83-.83-.83a13 13 0 0 0-18.44 18.44l.83.83L32 52.77l18.44-18.45.83-.83a13 13 0 0 0 0-18.44Z"/></svg>
                                {% when 'leaf' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-leaf" viewBox="0 0 64 64"><defs><style>.a{stroke-miterlimit:10}</style></defs><path class="a" d="M52 11 13 50m22-37v15h16"/><path class="a" d="M52 11c6 24-16.72 47.29-33 32C7 22 29 10 52 11Z"/></svg>
                                {% when 'lock' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-lock" viewBox="0 0 64 64"><path d="M19.45 23.6v-3.2c0-7 5.89-11.75 12.55-11.75 7.21 0 12.55 5.49 12.55 11.75v3.2M10 23.6h44v31.75H10zm22 13.87v7.47"/><circle cx="32" cy="35.87" r="1.6"/></svg>
                                {% when 'package' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-package" viewBox="0 0 64 64"><path d="M32 54.52 10 41.95v-19.9L32 9.48l22 12.57v19.9L32 54.52z"/><path d="M32 54.52v-19.9l22-12.57M32 34.62 10 22.05m31.7-7.03L21 28.33v8.38"/></svg>
                                {% when 'phone' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-phone" viewBox="0 0 64 64"><path d="m18.4 9.65 10.2 10.2-6.32 6.32c2.1 7 6.89 12.46 15.55 15.55l6.32-6.32 10.2 10.2-8.75 8.75C25.71 50.3 13.83 38.21 9.65 18.4Z"/></svg>
                                {% when 'ribbon' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-ribbon" viewBox="0 0 64 64"><path d="m28.57 42.31-8.36 13.07-2.6-7.17-7.61.65 8.35-13.07a17.05 17.05 0 0 0 8.12 5.94 17.3 17.3 0 0 0 1.74.5ZM54 48.86l-7.61-.65-2.61 7.17-8.36-13.07.37-.08a16.4 16.4 0 0 0 1.73-.5 17 17 0 0 0 8.12-5.93Z"/><path d="M49 25.64a16.79 16.79 0 0 1-3.14 9.85 3.55 3.55 0 0 1-.23.31 17 17 0 0 1-8.12 5.93 16.4 16.4 0 0 1-1.73.5l-.37.08a16.74 16.74 0 0 1-3.42.35 16.91 16.91 0 0 1-3.43-.35l-.36-.08a17.3 17.3 0 0 1-1.74-.5 17.05 17.05 0 0 1-8.12-5.94c-.07-.09-.15-.19-.22-.3A16.86 16.86 0 0 1 15 25.64a17 17 0 0 1 34 0Z"/><path d="m36.09 27.78.96 5.63L32 30.75l-5.05 2.66.96-5.63-4.09-3.98 5.65-.82L32 17.86l2.53 5.12 5.64.82-4.08 3.98z"/></svg>
                                {% when 'recycle' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-ribbon" viewBox="0 0 67 64"><path d="M28.598 3.706 28.736 3h14.77c1.43 0 2.577.61 3.252 1.782l3.481 6.075 4.795-2.904-7.118 13.06-14.563-.21 4.86-2.82-6.246-11.112c-.865-1.535-2.009-2.584-3.37-3.165Zm1.547.028c.962.673 1.784 1.6 2.444 2.77l6.605 11.754-3.187 1.848 11.491.166L53.114 9.97l-3.13 1.895-3.843-6.71c-.53-.92-1.424-1.42-2.636-1.42h-13.36Zm-4.834.555c-2.15 0-3.896 1.036-4.972 2.953l-5.285 9.332L25.9 23.03l6.802-12.037-1.935-3.32C29.446 5.38 27.635 4.29 25.31 4.29Zm-5.593 2.586c1.203-2.143 3.184-3.32 5.593-3.32 2.602 0 4.636 1.249 6.074 3.743l2.15 3.688-7.373 13.047-12.088-7.192 5.643-9.965Zm35.75 13.388 5.641 9.97.002.001c.567 1.031.889 2.137.889 3.315 0 2.352-1.458 4.807-3.485 5.974l-.003.001-.003.002c-.962.528-2.285.847-3.592.847h-4.173l-7.367-13.046 12.091-7.064ZM44.359 27.6l6.799 12.04h3.76c1.205 0 2.407-.297 3.249-.758 1.81-1.043 3.116-3.259 3.116-5.332 0-1.035-.281-2.017-.796-2.953l-.001-.001-5.281-9.332-10.846 6.336ZM18.617 23.22l7.093 13.085-4.889-2.87-6.247 11.053c-.577 1.063-1.032 2.662-1.032 3.631 0 .24 0 .527.056.93l-.665.236-7.507-13.216v-.001a3.863 3.863 0 0 1-.467-1.781c0-.617.194-1.355.466-1.842l3.425-6.134L4 23.497l14.617-.277Zm-11.983.962 3.196 1.854-3.782 6.774c-.209.373-.372.984-.372 1.477 0 .485.16 1.037.371 1.415l6.8 11.972c.105-1.098.557-2.543 1.102-3.546l.002-.002 6.608-11.693 3.274 1.923L18.2 23.962l-11.565.22Zm35.909 11.173v5.757h12.536c1.712-.008 3.123-.479 4.303-1.399l.528.475-7.447 13.275-.001.002-.001.002c-.669 1.163-1.87 1.84-3.249 1.84h-6.67V61l-7.5-12.82 7.5-12.825Zm12.136 6.49H41.825v-3.834l-5.947 10.168 5.947 10.166v-3.772h7.387c1.141 0 2.098-.553 2.63-1.477l.001-.002 6.745-12.023c-1.048.518-2.227.775-3.55.775h-.36Zm-37.325-.856h14.802v14.318h-11.29c-3.62 0-6.602-3.053-6.602-6.76 0-.535.113-1.231.299-1.919.185-.687.45-1.395.77-1.952l2.021-3.687Zm.42.734-1.818 3.319-.002.003c-.28.486-.525 1.13-.7 1.779-.175.65-.273 1.276-.273 1.724 0 3.3 2.661 6.025 5.885 6.025H31.44v-12.85H17.774Z" clip-rule="evenodd"/></svg>
                                {% when 'shield' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-shield" viewBox="0 0 64 64"><path d="M21.18 31.69 28.54 39l15.91-15.88"/><path d="M53 12.54v15.24a31.41 31.41 0 0 1-3.7 14.95A25.46 25.46 0 0 1 32 56a25.46 25.46 0 0 1-17.3-13.27A31.41 31.41 0 0 1 11 27.78V12.54C24.88 13.67 32 8 32 8s7.12 5.67 21 4.54Z"/></svg>
                                {% when 'tag' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tag" viewBox="0 0 64 64"><path d="m46.69 10.34-10.55.07-25.8 25.8 17.45 17.45 25.8-25.8.07-10.55-6.97-6.97z"/><circle cx="43.95" cy="20.05" r="3.53"/><path d="M14.4 32.15 31.85 49.6"/></svg>
                                {% when 'truck' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-truck" viewBox="0 0 64 64"><defs><style>.a{stroke-miterlimit:10}</style></defs><path class="a" d="M16.5 43.22H6.88V16.5h33.14v26.72H23.94m21.48 0h-5.4V30.4h17.1v12.82h-4.23m4.23-12.82-6.41-8.56H40.02"/><circle class="a" cx="20.24" cy="43.76" r="3.74"/><path class="a" d="M45.42 43.23a3.82 3.82 0 1 1 0 .37v-.37"/></svg>
                                {% when 'turtleneck' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-turtleneck" viewBox="0 0 64 64"><g clip-path="url(#a)"><path d="m14.307 39.729-1.99 9.073c-.216.982-.424 1.965-.653 2.943-.298 1.268-1.302 1.902-2.563 1.564a494.147 494.147 0 0 1-7.573-2.092C.323 50.873-.202 49.934.07 48.684c2.395-10.946 4.793-21.891 7.19-32.837.327-1.494.66-2.985.983-4.48.612-2.835 2.697-4.537 5.59-4.546 1.815-.005 3.63 0 5.445 0h.743l1.076-5.71c.163-.85.467-1.11 1.337-1.11C28.797-.001 35.16 0 41.523.002c.9 0 1.208.27 1.37 1.151.347 1.869.697 3.736 1.059 5.674h3.077c1.07 0 2.143-.01 3.213-.003 2.775.015 4.897 1.718 5.492 4.43 2.246 10.24 4.485 20.482 6.726 30.723.49 2.24.986 4.479 1.471 6.72.27 1.246-.257 2.177-1.473 2.523-2.519.717-5.043 1.417-7.575 2.09-1.26.337-2.267-.3-2.552-1.577-.838-3.774-1.66-7.552-2.49-11.327-.05-.23-.108-.457-.277-.674v18.784c0 1.737-.683 2.42-2.42 2.42H16.837c-1.729 0-2.406-.686-2.406-2.436V39.737l-.128-.008h.004Zm33.16 14.873V29.824c0-.957.293-1.405.946-1.46.635-.052 1.002.31 1.196 1.198 1.31 5.973 2.619 11.948 3.93 17.92.272 1.248.555 2.494.848 3.797l7.492-2.07c-.024-.153-.031-.218-.045-.281-2.717-12.396-5.432-24.792-8.156-37.186-.406-1.844-1.623-2.815-3.485-2.82-2.12-.006-4.242-.007-6.362.015-.31.004-.644.103-.92.247-7.286 3.786-14.565 3.786-21.848-.01a2.134 2.134 0 0 0-.922-.244 481.93 481.93 0 0 0-6.362-.008c-1.823.005-3.055.99-3.448 2.783-2.056 9.343-4.104 18.688-6.155 28.032-.687 3.134-1.375 6.267-2.074 9.462 2.519.695 5.003 1.379 7.492 2.067.058-.174.084-.233.098-.296l3.941-17.986c.277-1.258.538-2.521.833-3.776.142-.6.605-.924 1.153-.84.574.088.882.441.911 1.026.01.218.006.437.006.656V54.6H47.47l-.002.002ZM22.899 2.927c-.255 1.34-.467 2.544-.72 3.741-.104.481.012.74.47.971 2.921 1.464 6 2.243 9.273 2.254 3.342.01 6.492-.762 9.457-2.294.196-.102.473-.371.45-.522-.207-1.352-.472-2.697-.74-4.146C38.26 4.749 35.266 5.69 31.99 5.69c-3.276 0-6.268-.948-9.095-2.763h.002Zm-6.34 55.87h30.86v-2.015h-30.86v2.016ZM38.004 2.157H26c4.008 1.891 8.009 1.884 12.003 0Z" fill="#9CCC56"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h64v61H0z"/></clipPath></defs></svg>
                                {% when 'washing-machine' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-washing-machine" viewBox="0 0 64 64"><path d="M51.656 0c.998.226 1.96.515 2.78 1.18 1.325 1.074 2.003 2.464 2.092 4.154.012.249.008.5.008.75 0 16.517-.008 33.033.014 49.55.002 1.644-.426 2.941-1.995 3.696-.13.063-.21.327-.226.506-.05.538.01 1.093-.092 1.618-.264 1.355-1.442 2.372-2.837 2.522-.228.024-.457.024-.687.024H13.842c-1.828 0-3.145-.91-3.501-2.489-.122-.539-.05-1.12-.12-1.675-.027-.201-.167-.473-.334-.561-1.32-.701-1.875-1.795-1.875-3.265.01-14.455.005-28.91.005-43.364 0-2.228.056-4.46-.014-6.686C7.911 2.93 9.871.464 12.786.052c.04-.005.075-.035.113-.052h38.757ZM10.118 15.392c-.012.237-.03.44-.03.644v39.802c0 1.306.366 1.664 1.677 1.664h40.997c1.355 0 1.706-.346 1.706-1.697v-39.74c0-.22-.02-.44-.033-.673H10.118Zm44.35-2.162c0-2.529.01-4.986-.003-7.442-.014-2.353-1.38-3.703-3.748-3.703-12.291-.003-24.584-.003-36.875 0-2.394 0-3.743 1.359-3.752 3.764-.008 2.249-.003 4.5 0 6.748 0 .202.021.404.035.633H54.47h-.002ZM12.301 59.626c0 .422-.03.777.005 1.125.073.736.482 1.11 1.223 1.16.186.012.374.007.561.007h36.355c.21 0 .418.005.625-.01.68-.054 1.08-.404 1.163-1.077.047-.384.009-.777.009-1.203H12.301v-.002Z" fill="#9CCC56"/><path d="M14.65 36.442c-.022-9.672 7.825-17.54 17.593-17.641 9.616-.1 17.675 7.947 17.661 17.636-.013 9.696-7.92 17.59-17.623 17.596-9.694.005-17.608-7.89-17.63-17.591Zm17.636 15.536c8.559-.015 15.542-7.012 15.532-15.562-.011-8.57-6.994-15.549-15.55-15.54-8.558.009-15.548 7.009-15.53 15.557.017 8.571 7.009 15.563 15.548 15.547v-.002ZM22.901 10.912c-2.29 0-4.58.005-6.871 0-1.675-.005-2.49-.825-2.494-2.494-.002-.604-.018-1.209.005-1.81.045-1.213.793-2.015 2-2.164a4.63 4.63 0 0 1 .56-.028c4.519 0 9.037.002 13.554-.004.852 0 1.612.185 2.144.915.588.81.59 3.898-.003 4.701-.487.66-1.162.893-1.962.89-2.311-.01-4.623-.003-6.933-.003v-.003ZM15.656 8.8H30.09V6.548H15.656V8.8ZM38.834 10.901c-1.769-.04-3.203-1.523-3.169-3.276.035-1.76 1.517-3.213 3.263-3.199a3.267 3.267 0 0 1 3.225 3.293 3.235 3.235 0 0 1-3.319 3.182Zm.103-2.06a1.165 1.165 0 0 0 1.125-1.176 1.166 1.166 0 0 0-1.14-1.157 1.162 1.162 0 0 0-1.157 1.204c.019.628.553 1.142 1.174 1.128h-.002ZM47.673 10.9a3.223 3.223 0 0 1-3.144-3.348c.054-1.73 1.534-3.15 3.259-3.126 1.79.025 3.273 1.545 3.223 3.303a3.25 3.25 0 0 1-3.338 3.17Zm1.242-3.218a1.17 1.17 0 0 0-1.129-1.174c-.642-.017-1.188.532-1.177 1.185.01.627.537 1.15 1.156 1.146a1.18 1.18 0 0 0 1.15-1.157Z" fill="#9CCC56"/><path d="M45.48 36.418c.009 7.249-5.94 13.2-13.197 13.206-7.253.005-13.194-5.931-13.208-13.196-.014-7.247 5.929-13.188 13.199-13.192 7.266-.003 13.199 5.917 13.208 13.182h-.002ZM32.305 25.294c-6.06-.053-11.105 4.948-11.155 11.052-.05 6.122 4.89 11.12 11.067 11.189 6.076.07 11.113-4.887 11.186-11.006.073-6.134-4.913-11.183-11.096-11.237l-.002.002Z" fill="#9CCC56"/><path d="M41.035 35.89c0 .3.01.448-.002.592-.049.54-.453.94-.967.967-.512.024-.943-.337-1.046-.877-.163-.854-.193-1.765-.518-2.553-1.068-2.584-3.03-4.043-5.852-4.275-.084-.007-.167-.003-.249-.012-.767-.078-1.176-.49-1.129-1.136.044-.598.515-.979 1.239-.946 2.707.125 4.939 1.223 6.642 3.338a8.444 8.444 0 0 1 1.883 4.9l-.002.003Z" fill="#9CCC56"/></svg>
                              {% endcase %}
                              <span>{{ block.settings.text }}</span>
                            </span>
                          </li>
                        </ul>
                      </div>
                    {%- endunless -%}
                  {%- when 'inventory_status' -%}
                    {%- render 'product-inventory', product: product, current_variant: current_variant, block: block -%}
                  {%- when 'share' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {%- render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product -%}
                    </div>
                  {%- when 'complementary_products' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {%- render 'product-complementary', block: block, product: product, type: 'block', image_style: block.settings.image_style -%}
                    </div>
                  {%- when 'trust_badge' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      <div class="aos-animate" style="max-width: {{ block.settings.trust_image.width }}px; margin: 0 auto;">
                        <div class="image-wrap " style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.trust_image.aspect_ratio }}%;">
                          {%- render 'image-element',
                            img: block.settings.trust_image,
                            widths: '360, 540, 700, 1024',
                            sizeVariable: product_description_width,
                          -%}
                        </div>
                      </div>
                    </div>
                  {%- when 'custom' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {{ block.settings.code }}
                    </div>
                {%- endcase -%}
              {%- else -%}
                <div data-blocks-holder
                     data-url="{{ product.url | within: collection }}"
                     data-template="{{ product.template_suffix }}">
                  <div class="placeholder-content" style="min-height: 86px;"></div>
                </div>
              {%- endfor -%}
            </div>

            {%- unless product.empty? -%}
              <textarea class="hide" aria-hidden="true" aria-label="Product JSON" data-variant-json>
                {{ product.variants | json }}
              </textarea>
              {%- if product.options.size > 1 -%}
                <textarea class="hide" aria-hidden="true" aria-label="Variant JSON" data-current-variant-json>
                  {{ current_variant | json }}
                </textarea>
              {%- endif -%}
            {%- endunless -%}
            <!-- Swym button on product pages -->
            <hr class="hr--medium">
            <div class="swym-wishlist-button-bar"></div>
            <!-- Swym button on product pages -->
          </div>
        </div>

        {%- unless image_position == 'left' -%}
          <div class="grid__item {{ product_image_width }} product-single__sticky">
            {%- render 'product-images',
              section_id: section_id,
              product: product,
              isModal: isModal,
              image_position: image_position,
              product_zoom_enable: product_zoom_enable,
              product_zoom_size: product_zoom_size,
              product_image_size: product_image_size,
              thumbnail_arrows: thumbnail_arrows,
              thumbnail_position: thumbnail_position,
              video_looping: video_looping,
              video_style: video_style,
              context: context,
              sizes: sizes,
              sizeVariable: product_image_width,
              fallback: fallback,
              mobile_layout: mobile_layout,
            -%}
          </div>
        {%- endunless -%}
      </div>
    </div>
  </div>
</div>
