{%- liquid
  assign output_tab = true
  if title == blank and content == blank
    assign output_tab = false
  endif
-%}
{%- if output_tab -%}
  <div class="collapsibles-wrapper collapsibles-wrapper--border-bottom">
    <button type="button"
      class="label collapsible-trigger collapsible-trigger-btn collapsible--auto-height{% if force_open %} is-open{% endif %}" aria-controls="Product-content-{{ id }}"
      {% if force_open %}aria-expanded="true"{% endif %}>
      {{ title }}
      {%- render 'collapsible-icons' -%}
    </button>
    <div id="Product-content-{{ id }}"
      class="collapsible-content collapsible-content--all{% if force_open %} is-open{% endif %}"
      {% if force_open %}style="height: auto;"{% endif %}>
      <div class="collapsible-content__inner rte">
        {{ content }}
        {% if title == 'Fit' %}
          <ul class="list">
            {% for fit in product.metafields.custom.product_fit.value %}
              {% if forloop.last %}
                <ul>
                  {% if product.metafields.custom.bust.value %}<li> Bust: {{ product.metafields.custom.bust.value }}</li>{% endif %}
                  {% if product.metafields.custom.sleeve_length.value %}<li> Sleeve Length: {{ product.metafields.custom.sleeve_length.value }}</li>{% endif %}
                  {% if product.metafields.custom.back_length.value %}<li> Back Length: {{ product.metafields.custom.back_length.value }}</li>{% endif %}
                  {% if product.metafields.custom.chest.value %}<li> Chest: {{ product.metafields.custom.chest.value }}</li>{% endif %}
                  {% if product.metafields.custom.back_rise.value %}<li> Back Rise: {{ product.metafields.custom.back_rise.value }}</li>{% endif %}
                  {% if product.metafields.custom.front_rise.value %}<li> Front Rise: {{ product.metafields.custom.front_rise.value }}</li>{% endif %}
                  {% if product.metafields.custom.inseam.value %}<li> Inseam: {{ product.metafields.custom.inseam.value }}</li>{% endif %}
                </ul>
              {% endif %}
            {% endfor %}
          </ul>
          <a class="text-link" href="/pages/fit-guide-2022">View Fit Guide</a>
        {% endif %}
      </div>
    </div>
  </div>
{%- endif -%}
