{%- paginate customer.orders by 20 -%}

<div class="page-width page-content">
  <div class="section-header">
    <!-- POINTS YOTPO WIDGET -->
    <div class="yotpo-widget-instance" data-yotpo-instance-id="612949"></div>
    
    <!-- PRODUCT REDEMPTION -->
    <div class="yotpo-widget-instance" data-yotpo-instance-id="734320"></div>
  </div>
  <header class="section-header{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}">
    <h1 class="section-header__title">{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_logout_url }}" class="btn btn--secondary btn--small section-header__link">{{ 'layout.customer.log_out'| t }}</a>
  </header>

  <div class="grid">

    <div class="grid__item medium-up--two-thirds">
      <p class="h5">{{ 'customer.orders.title' | t }}</p>

      {%- if customer.orders.size != 0 -%}

        <table class="table--responsive table--small-text">
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {%- for order in customer.orders -%}
              <tr class="table__section">
                <td data-label="{{ 'customer.orders.order_number' | t }}"><a class="btn btn--secondary btn--small" href="{{  order.customer_url }}">{{ order.name }}</a></td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
              </tr>
            {%- endfor -%}
          </tbody>
        </table>

        <hr class="hr--clear">

      {%- else -%}

        <p>{{ 'customer.orders.none' | t }}</p>

      {%- endif -%}
    </div>

    <div class="grid__item medium-up--one-third">
      <p class="h5">{{ 'customer.account.details' | t }}</p>

      <p>{{ customer.name }}</p>

      {{ customer.default_address | format_address }}

      <p><a href="{{ routes.account_addresses_url }}" class="text-link">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
    </div>

  </div>
  
  <div>
    <!-- REDEEM POINTS YOTPO WIDGET -->
    <div class="yotpo-widget-instance" data-yotpo-instance-id="612943"></div>
    
    <!-- EARNING POINTS YOTPO WIDGET -->
    <div class="yotpo-widget-instance" data-yotpo-instance-id="612948"></div>
    
    <!-- REFER YOTPO WIDGET -->
    <div class="yotpo-widget-instance" data-yotpo-instance-id="612944"></div>
  </div>

  {%- if paginate.pages > 1 -%}
    {%- render 'pagination', paginate: paginate -%}
  {%- endif -%}
</div>
{%- endpaginate -%}
