{% comment %} 
Repurpose the age verification popup to password protect a collection
 {% endcomment %}
<age-verification-popup
   id="AgeVerificationPopup-password-protect"
   class="
     age-verification-popup modal modal--square modal--mobile-friendly
     {% if section.settings.image != blank %}
       age-verification-popup--image-true
     {% else %}
       age-verification-popup--image-false
     {% endif %}
   "
   data-test-mode="{{ section.settings.enable_test_mode }}"
   data-section-id="password-protect"
 >
   {% if section.settings.image != blank %}
     <div class="age-verification-popup__background-image-wrapper" data-background-image>
       {% comment %} Full width image so don't need to adjust sizes attribute, fallback is 100vw {% endcomment %}
       {%- render 'image-element',
         img: section.settings.image,
         img_width: 2400,
         classes: 'age-verification-popup__background-image',
       -%}
     </div>
     {% style %}
       .age-verification-popup__background-image {
         {% if section.settings.blur_image %}
           filter: blur(4px);
           transform: scale(1.03);
         {% endif %}
       }
     {% endstyle %}
   {% endif %}
 
   <div class="modal__inner" data-nosnippet>
     <div class="modal__centered">
       <div
         class="
           modal__centered-content modal__centered-content--padded
         "
         >
         <div class="age-verification-popup__content-wrapper">
           <div
             class="age-verification-popup__content age-verification-popup__content--active"
             data-age-verification-popup-content
           >
             {% if section.settings.heading != blank %}
               <h2>{{ section.settings.heading }}</h2>
             {% endif %}
             {% if section.settings.text != blank %}
               <div class="rte">
                 <div class="enlarge-text">{{ section.settings.text }}</div>
               </div>
             {% endif %}
             
            <div class="rte">
               <form id="passwordForm">
                  <label for="password" class="hide">Enter Password:</label>
                  <input type="text" id="password" required>
                  <button class="btn" type="submit">Unlock</button>
               </form>
               <div id="feedback">
                  <small class="note form-error"">Incorrect password. Text "password" to (833) 539-0980 to resend.</small>
               </div>
            </div>
       
           

             {% if section.settings.decline_button_label != blank and section.settings.approve_button_label != blank %}
               <div class="age-verification-popup__btns-wrapper">
             {% endif %}
               {% if section.settings.decline_button_label != blank %}
                 <button
                   class="btn btn--secondary"
                   data-age-verification-popup-decline-button
                 >
                   {{ section.settings.decline_button_label }}
                 </button>
               {% endif %}
                 <button
                   class="btn hide"
                   id="unlock-button"
                   data-age-verification-popup-exit-button
                 >
                   Unlock
                 </button>
             {% if section.settings.decline_button_label != blank and section.settings.approve_button_label != blank %}
               </div>
             {% endif %}
           </div>
           <div
             class="age-verification-popup__decline-content age-verification-popup__decline-content--inactive"
             data-age-verification-popup-decline-content
           >
             {% if section.settings.decline_heading != blank %}
               <h2>{{ section.settings.decline_heading }}</h2>
             {% endif %}
             {% if section.settings.decline_text != blank %}
               <div class="rte">
                 <div class="enlarge-text">{{ section.settings.decline_text }}</div>
               </div>
             {% endif %}

             <div id="ps__subscribe-form-{{ section.settings.postscript_id }}">
               <form action="https://api.postscript.io/subscribe/form" method="post" onsubmit="document.getElementById('ps__sent-message-{{ section.settings.postscript_id }}').style.display = 'block'; document.getElementById('ps__subscribe-form-{{ section.settings.postscript_id }}').style.display = 'none';" target="dummyframe">
                 <input id="ps__shop_id-{{ section.settings.postscript_id }}" name="shop_id" type="hidden" value="11859">
                 <input id="ps__keyword_id-{{ section.settings.postscript_id }}" name="keyword_id" type="hidden" value="{{ section.settings.postscript_id }}">
           
                 <input id="ps__phone-subscribe-{{ section.settings.postscript_id }}" name="phone" type="phone" placeholder="Phone Number" required>
                 <input type="submit" value="Subscribe" class="btn">
           
                 <div class="rte">
                  <small class="disclaimer">*By subscribing, you agree to receive recurring automated marketing text messages (e.g. cart reminders) at the phone number provided. Consent is not a condition to purchase. Msg & data rates may apply. Msg frequency varies. Reply HELP for help and STOP to cancel. View our <a href="{{ shop.privacy_policy.url }}">Privacy Policy</a> and <a href="{{ shop.terms_of_service.url }}">Terms of Service</a>.</small>
                 </div>
               </form>
             </div>
             <iframe width="0" height="0" border="0" name="dummyframe" id="ps__dummyframe-{{ section.settings.postscript_id }}" style="display: none;"></iframe>
           
             <div id="ps__sent-message-{{ section.settings.postscript_id }}" style="display: none;">
               <span class="note note--success">Thanks for subscribing! We'll send you a message shortly.</span>
             </div>

             {% if section.settings.return_button_label != blank %}
               <button
                 class="btn btn--secondary"
                 data-age-verification-popup-return-button
               >
                 {{ section.settings.return_button_label }}
               </button>
             {% endif %}
           </div>
         </div>
       </div>
     </div>
   </div>
 </age-verification-popup>
 
 {% style %}
   #passwordForm {
      display: flex;
      justify-content: center;
      gap: 6px;
   }
   #feedback {
      display: none;
      color: red;
      margin-top: 10px;
   }
   .note {
      display: inline-block;
   }
{% endstyle %}
 <script>
    document.addEventListener('DOMContentLoaded', function () {
      const passwordForm = document.getElementById('passwordForm');
      const feedbackDiv = document.getElementById('feedback');
      const exitButton = document.getElementById('unlock-button');

      passwordForm.addEventListener('submit', function (event) {
          event.preventDefault();
          const passwordInput = document.getElementById('password');
          let enteredPassword = passwordInput.value;

          // Convert the entered password to uppercase
          enteredPassword = enteredPassword.toUpperCase();

          // Replace 'your-correct-password' with the actual correct password
          const correctPassword = 'SUMMERTREATS';

          if (enteredPassword === correctPassword) {
              // Set the cookie to 'entered'
              document.cookie = "AgeVerificationPopup-password-protect=entered";

              // Simulate a click on the exit button
              if (exitButton) {
                  exitButton.click();
              }
          } else {
              // Show the feedback div
              feedbackDiv.style.display = 'block';
              // Clear the input field
              passwordInput.value = '';
          }
      });
    });
</script>
 {% schema %}
{
  "name": "Password Protection",
  "class": "password-protection",
  "settings": [
   {
      "type": "checkbox",
      "id": "enable_test_mode",
      "label": "t:sections.age-verification-popup.settings.enable_test_mode.label",
      "info": "t:sections.age-verification-popup.settings.enable_test_mode.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.age-verification-popup.settings.header_background_image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.age-verification-popup.settings.image.label",
      "info": "t:sections.age-verification-popup.settings.image.info"
    },
    {
      "type": "checkbox",
      "id": "blur_image",
      "label": "t:sections.age-verification-popup.settings.blur_image.label",
      "default": false
    },
    {
      "type": "header",
      "content": "Password Input"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.age-verification-popup.settings.heading.label",
      "default": "Enter a headline here"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Are you 18 years old or older?</p>"
    },
    {
      "type": "text",
      "id": "decline_button_label",
      "label": "Show Postscript Signup",
      "default": "Show postscrip form"
    },

    {
      "type": "header",
      "content": "Postscript Signup"
    },
    {
      "type": "paragraph",
      "content": "This content will display if the customer clicks the button above"
    },
    {
      "type": "text",
      "id": "decline_heading",
      "label": "t:sections.age-verification-popup.settings.decline_heading.label",
      "default": "Come back when you're older"
    },
    {
      "type": "richtext",
      "id": "decline_text",
      "label": "t:sections.age-verification-popup.settings.decline_text.label",
      "default": "<p>Sorry, the content of this store can't be seen by a younger audience. Come back when you're older.</p>"
    },
    {
      "type": "text",
      "id": "return_button_label",
      "label": "t:sections.age-verification-popup.settings.return_button_label.label",
      "default": "Oops, I entered incorrectly"
    }
  ],
  "presets": [
      {
      "name": "Password Protection"
      }
   ],
  "disabled_on": {
      "templates": ["password", "index", "product"],
      "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}