{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="text-{{ section.settings.align_text }} page-width{% if section.settings.narrow_column %} page-width--narrow{% endif %}">
  {% if section.settings.title %}
    <h3>{{ section.settings.title | escape }}</h3>
  {% endif %}
  <div class="rte">
    {%- if section.settings.text != blank -%}
      {%- if section.settings.enlarge_text %}<div class="enlarge-text">{%- endif -%}
        {{ section.settings.text }}
      {%- if section.settings.enlarge_text %}</div>{%- endif -%}
    {%- endif -%}
  </div>

  <div id="ps__subscribe-form-{{ section.settings.postscript_id }}}">
    <form action="https://api.postscript.io/subscribe/form" method="post" onsubmit="document.getElementById('ps__sent-message-{{ section.settings.postscript_id }}--{{section.id }}').style.display = 'block'; document.getElementById('ps__subscribe-form-{{ section.settings.postscript_id }}--{{section.id }}').style.display = 'none';" target="dummyframe">
      <input id="ps__shop_id-{{ section.settings.postscript_id }}" name="shop_id" type="hidden" value="11859">
      <input id="ps__keyword_id-{{ section.settings.postscript_id }}" name="keyword_id" type="hidden" value="{{ section.settings.postscript_id }}">

      <input id="ps__phone-subscribe-{{ section.settings.postscript_id }}" name="phone" type="phone" placeholder="Phone Number" required>
      <input type="submit" value="Subscribe" class="btn">

      <small class="disclaimer">*By subscribing, you agree to receive recurring automated marketing text messages (e.g. cart reminders) at the phone number provided. Consent is not a condition to purchase. Msg & data rates may apply. Msg frequency varies. Reply HELP for help and STOP to cancel. View our <a href="{{ shop.privacy_policy.url }}">Privacy Policy</a> and <a href="{{ shop.terms_of_service.url }}">Terms of Service</a>.</small>
    </form>
  </div>
  <iframe width="0" height="0" border="0" name="dummyframe" id="ps__dummyframe-{{ section.settings.postscript_id }}" style="display: none;"></iframe>

  <div id="ps__sent-message-{{ section.settings.postscript_id }}" style="display: none;">
    <span class="note note--success">Thanks for subscribing! We'll send you a message shortly.</span>
  </div>
</div>



{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "Postscript Form",
  "class": "index-section index-section--postscript",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "postscript_id",
      "label": "Form ID #"
    },
    {
      "type": "checkbox",
      "id": "narrow_column",
      "label": "Narrow Column",
      "default": true
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Align text",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.rich-text.settings.divider.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Postscript Form"
    }
  ],
  "disabled_on": {
    "groups": ["custom.popups"]
  }
}
{% endschema %}
